[Unit]
Description=PMail Self-use Service
After=network.target

[Service]
ExecStart=/root/Pmail-selfuse/pmail_linux_amd64 -p 80
WorkingDirectory=/root/Pmail-selfuse/
Restart=always
RestartSec=10
User=root
Environment=PATH=/usr/bin:/bin

[Install]
WantedBy=multi-user.target
